.cards-container {
  background-color: bisque;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 1rem;
  flex-wrap: wrap;
}

.card {
  outline: 2px solid darkgray;
  list-style: none;
  flex: 1;
  flex-basis: calc(16% - 1rem);
  /* width: 12%; */
}

.card__title {
  text-align: center;
}
